{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/highlighter.css">
<script src="/static/javascript/highlight.pack.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<title>API - Documentation</title>
<h1><b>KHUX</b>Bot API Documentation</h1>
<div class="tabs">
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'v1')">Version 1</button>
        <button class="tablinks active" onclick="openTab(event, 'v2')">Version 2</button>
    </div>
    <div id="v1" class="tabcontent">
        <h2 style="color:red">IMPORTANT: Version 1 is being depreciated, please see Version 2 documentation for future reference + more up to date support</h2>
        <h3>Medals</h3>

        <div class="text">
            For searching medals, use the following url:
            <pre><code class="http">/api/v1/medal</code></pre>
        </div><br>
        <h4 id="medals">Medal Names</h4>
        <div class="text">
            To search of the names of all medals in the database:
            <pre><code class="http">/api/v1/medal?q=names</code></pre>
            Output will be like: <br>
            <pre><code class="json">{"names":["Sora & Riku KHII illustrated ver. [EX]", "Gula HD ver. [EX]", "Tifa & Aerith"]}</code></pre>
            Names will be in no particular order
        </div><br>
        <h4 id="names">Specific Medals</h4>
        <div class="text">
            To get the data of a specific medal use:
            <pre><code class="http">/api/v1/medal?q=data&medal=some%20medal</code></pre>
            Output:
            <pre><code class="json">{"medal":{"id":300,"name":"some medal", "rarity":6, "type":"Combat", "element":"Speed", ...}}</code></pre>
            If no extra parameters are requested, all medals with the specific name will be returned. I.e. Calling for "Wakka" will return all wakka medals of all rarities:<br>
            <pre><code class="json">{
      "medal": {
        "0": {
          "cost": 1,
          "defence": 1207, ...
        },
        "1": {
          "cost": 1,
          "defence": 1783, ...
        },
        "2": {
          "cost": 1,
          "defence": 2300, ...
        }, ...
      }
    }
            </code></pre>
            You should html encode the medal name to ensure correct functionality. For example, if you wanted the medal <pre><code>Pooh & Tigger & Rabbit</code></pre>
            You should use the following query:
            <pre><code class="http">/api/v1/medal?q=data&medal=Pooh%20%26%20Tigger%20%26%20Rabbit</code></pre>
            It should also be noted that this query is overrided when using any any of the following queries: filter, format, buff
        </div><br>
        <h4 id="filters">Filters</h4>
        <div class="text">
            You can add filters based on the medal keys:
            <pre><code class="http">/api/v1/medal?q=data&filter={"rarity":6,"cost":3}</code></pre>
            This will return all medals which are 6 star and have cost 3
            The filter should be a url encoded json string. A full list of filters can be found <a href="/api/docs/filters">here</a>
        </div>
        <h4 id="images">Medal Images</h4>
        <div class="text">
            You can get a list of paths of all medals using:
            <pre><code class="http">/api/v1/medal?q=images</code></pre>
            This will return all image paths for all medals
            A json object will be returned like <pre><code class="json">{"image":["medal/path/name_1.png","medal/path/name_2.png"]}</code></pre>
        </div><br>
        <h4 id="format">Changing returned format</h4><br>
        <div class="text">
            You are able to customise the format of the data you get back:
            <pre><code class="http">/api/v1/medal?q=data&format={"format":["element","direction"]}&filter={"cost":3,"hits":8}</code></pre>
            The result is the same as when only the single filter is applied, but the results fields are limited to the format:
            <pre><code class="json">{
      "medal": {
        "0": {
          "direction": "Upright",
          "element": "Speed"
        },
        "1": {
          "direction": "Upright",
          "element": "Magic"
        }, ...
      }
    }</code></pre>
            Note: The format query must be a json object with the first key "format" and it's value is an array of strings.
        </div><br>
        <h4 id="combine">Combining querys</h4>
        <div class="text">
            As already shown above, you are able to combine multiple queies together to achieve a better result
            <pre><code class="http">/api/v1/medal?q=data&filter={"name":"Wakka"}&format={"format":["rarity","name","image_link"]}</code></pre>
            Will return:
            <pre><code class="json">{"medal":{"0":{"image_link":"/static/medal_images//Wakka_1.png","name":"Wakka","rarity":1}, ...}}</code></pre>
        </div><br>
        <h4 id="comparisons">Comparisons</h4>
        <div class="text">
            Fields with integer types can also be filtered by maximum and minimum values in a object type
                <pre><code class="http">/api/v1/medal?q=data&format={"format":["hits"]}&filter={"hits":{"min":2,"max":3}}</code></pre>
            Will return:
            <pre><code class="json">{
      "medal": {
        "0": {
          "hits": 3
        },
        "1": {
          "hits": 2
        },
        "2": {
          "hits": 3
        },...
      }
    }</code></pre>
        </div><br>
        <h4 id="buffs">Filtering by buffs</h4>
        <div class="text">
            Medals can be further filtered by buff, the input filters are similar to the default filter query, with an added object layer for the exclude and include keys.
            These exclude/include objects contain objects of themselves, and the objects have their own objects with the key being the buff type.
            The value of these buff keys are either objects or integers them selves and act simiar to filter, where the objects can have min or max keys.

            You can view all the buff ids <a href="/api/docs/buffs">Here</a>

            Examples:
            <pre><code class="http">/api/v1/medal?q=data&buff={"include":{"SGAU":{"min":3}}}&format={"format":["name","tier"]}</code></pre>
            Will return:
            <pre><code class="json">{
      "medal": {
        "0": {
          "name": "Uniform Kairi",
          "tier": 3
        },
        "1": {
          "name": "Uniform Selphie",
          "tier": 3
        },
        "2": {
          "name": "Ansem the Wise",
          "tier": 3
        },
        "3": {
          "name": "Illustrated Kairi",
          "tier": 4
        },
        "4": {
          "name": "Sebastian",
          "tier": 3
        }, ...
        }
    }
            </code></pre>
        </div>
        <h4 id="errors">Errors</h4>
        <div class="text">
            Should any query fail, a json object will return with the key "error" and the value will give a hint as to what went wrong. For example trying this:<br>
            <pre><code class="http">/api/v1/medal?q=filter&filter={"cost":"yes"}</code></pre>
            Will return:
            <pre><code class="json">{"error": "No medal found"}</code></pre>
        </div>
    </div>
    <div id="v2" class="tabcontent" style="display:block;">
        <h3>Introduction</h3>
        <div class="text">
            Verson 2 of the API is the prefered method to access the API since the query itself will be encrypted.
            It also allows for a more robust code and easier to maintain code. If you want to test your your requests beforehand, I recommend you use postman.
            <br>
            The main difference between v1 and v2 is the format of the returned data, the move from url queries to post data and the requirement of the field "filter"

            All requests are sent to this endpoint:<br>
            <pre><code class="http">/api/v2/get</code></pre><br>
            You should also have the following header:<br>
            <pre><code class="http">Content-Type:application/json</code></pre><br>
            The contents are in a similar format as Version 1, except everything is wrapped in a object. e.g.<br>
            <pre><code class="json">{"format":["name", "tier", "image_link"], "filter":{"tier":{"min":4,"max":6}}, "buff":{"include":{"SGAU":{"min":3,"max":5}}}}</code></pre><br>
        </div>
        <h3>Filters</h3>
        <div class="text">
            By sending the filter object key, you are specifying how you want to filter the data.
            <pre><code class="json">{"filter":{"tier":{"min":4,"max":6}}}</code></pre><br>
            This will return:
            <pre><code class="json">[
    {
        "cost": 3,
        "defence": 5386,
        "direction": "Reversed",
        "element": "Magic",
        "hits": 12, ...
    },...
]</code></pre><br>
            You can find a list of all filterable fields <a href="/api/docs/filters">here</a>
        </div>
        <h3>Format</h3>
        <div class="text">
            You can also alter how the data is returned, meaning you can get fields like: hits, name and image link. Rather than every field the medal contains.
            <pre><code class="json">{"format":["name", "hits"]}</code></pre><br>
            This will return the only the name and hits field.
        </div>
        <h3>Buff</h3>
        <div class="text">
            This is similar to filter, but is applied on medal buffs, meaning you can search for specific medals with certain buffs.
            It is powered using the same syntax as filters, so you can have powerful filtering.
            The buff object must contain either the "include" field <strong>OR</strong> the "exclude" field. These do just
            as implied and only get medals which either include or exclude the given type of buffs.<br>

            You can find a list of buffs <a href="/api/docs/buffs">here</a><br>
            <pre><code class="json">{"buff":{"include"{"SPAU":1}, "exclude":{"SSAU":1}}}</code></pre>
        </div>

        <h3>Dynamic Spritesheets</h3>
        <div class="text">
            This feature is provided as a means of gathering a large set of images fast. It will take a few minutes to load the first request.
            But subsequent requests will simply load a stored request to prevent server overloading.<br>

            To gain access to dynamic spritesheets you simply add the key:
            <pre><code class="json">{"type":"spritesheet"}</code></pre> to your request.

            The server will still filter your medals, but it will also generate a unique spritesheet for your request.

            An example of returned data:<br>
            <pre><code class="json">[
    {
        "data": [
            {
                "image": "Apu_6.png",
                "x_offset": 0,
                "y_offset": 0
            },
            {
                "image": "Sora_KHII_ver_B_6.png",
                "x_offset": 741,
                "y_offset": 0
            },
            {
                "image": "Sora_limit_form_ver_6.png",
                "x_offset": 1482,
                "y_offset": 0
            }, ...
        ],
        "height": 676,
        "spritesheet_location": "static/images/spritesheets/abcd1234ef1234_1.png",
        "width": 741
    }
]
            </code></pre><br>

            As you can see, the data is a list of objects containing the information of the spritesheet.<br>

            <em>width</em> and <em>height</em> are the width and height of each individual medal.<br>
            Inside the <em>data</em> field is a list of objects which contain the information of how each image is stored within the spritesheet.<br>
            <em>y_offset</em> and <em>x_offset</em> is the position of the image within the spritesheet.<br>

        </div>

        <h3>Errors</h3>
        <div class="text">
            Should any errors occur when interacting with the API, an object wit the key "error" should be returned.
            The value should give a hint as to what when wrong.

            e.g.
            Sending: <pre><code class="json">{"syntax_error":{[}]}</code></pre><br>
            Will return<br>
            <pre><code class="json">{"error":"Invalid JSON"}</code></pre>

        </div>
    </div>
</div>
<script>
function openTab(evt, tab_id) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tab_id).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
{% endblock %}