{% extends "base.html" %}
{% block content %}
	<title>KHUX Bot - Medal Creator - Result</title>
	<div class="error">
        <strong>{{error}}</strong>
	</div>
    <div class="text">
        <a href="/image/create">Create another?</a><br>
        <strong>Your image will be stored for at most 24 hours (Sometimes less)</strong><br>
        To save your medal:
        <ol>
            <li>Right-click the image.</li>
            <li>Click: Save image as...</li>
            <li>Choose where to save the image</li>
        </ol>
        <img src="{{image}}" style="padding-left:0;padding-right:0;margin-left:auto;margin-right:auto;display:block;border-width:2px;border-style:solid;">
    </div>
{% endblock %}